<section id="contact">
  <form class="contact-form" (submit)="sendEmail($event)">
    <label>Nom<span>*</span></label>
    <input [(ngModel)]="name" id="name" type="text" name="user_name" required>
    <label>Email<span>*</span></label>
      <input [(ngModel)]="email" (focusout)="valideEmail()" [ngClass]="{'error':error}" id="email" type="email" name="user_email" required>
      <p class="error-sentence"><strong>{{error}}</strong></p>
    <label>Message<span>*</span></label>
    <textarea [(ngModel)]="message" id="message" name="message" required></textarea>

    <div *ngIf="valideForm();else invalideForm">
      <input id="btn-form" class="btn" type="submit" value="Envoyer">
    </div>
    <ng-template #invalideForm>
      <input id="btn-form" class="btn"type="submit" value="Envoyer" disabled>
    </ng-template>
  </form>
</section>

<ngb-alert #selfClosingAlert *ngIf="messageEnvoye"  type="success" (closed)="messageEnvoye = false"
	>{{ successMessage }}
</ngb-alert>