<section class="skills">
  <img (click)="openModal()" id="img" data-bs-target="#exampleModal" src="assets/img/CV-MATHIEU_BIHAN.jpg" alt="">
  <br>
  <a href="assets/img/CV-MATHIEU_BIHAN.jpg" download="CV-MATHIEU_BIHAN.jpg" tabindex="-1"><button class="btn" type="button">Télécharger CV</button></a>
  <img src="" alt="">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="closeModal()" id="closeModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img class="imgModal" src="assets/img/CV-MATHIEU_BIHAN.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>