
#about p {
margin: auto;
font-size: 1.5rem;
width: 50%;
}

@media (max-width: 1030px) {

    #about p{
        font-size: 1rem;
    }
}

@media (max-width: 1030px) {

    #about p{
        font-size: 1rem;
    }
}

@media (max-width: 650px) {

    
    #about p{
        width: 80%;
        font-size: 0.7rem;
    }
}

footer{
    padding-top: 20px;
    margin-top: 50px;
    text-align: center;
    background-color: #1f497d;
}

footer p{
    padding-top: 10px;
    color: #fff;
}

.reseau{
    width: 35%;
    margin:auto;
    display: flex;
    justify-content: space-around;
}

footer .copyright{
    padding-top: 30px;
    margin: 0;
}

.reseau img{
    width: 100px;
}

.icon:hover{
    transform: scale(1.1);
}

@media (max-width: 650px) {

    
    .reseau{
        display: block;
    }

    .copyright{
        font-size: 0.7rem;
    }
}