<navbar></navbar>

<section id="about">
    <h1>A propos</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id leo eu enim ornare fringilla ac sed elit. Duis eget justo lorem. Maecenas eros quam, malesuada sed risus ut, sodales accumsan nisl. Aliquam non massa metus. Ut consequat fringilla massa, id condimentum leo varius at. Donec in fermentum turpis. Fusce ornare lorem turpis, vitae interdum augue congue ut. Pellentesque eu erat aliquet, egestas dui ut, efficitur nunc. Aliquam commodo tellus tellus, a congue nunc convallis id. Nam laoreet volutpat ullamcorper. Pellentesque quis posuere est. Nulla laoreet feugiat efficitur.

Nunc lacus mi, facilisis in ante at, interdum eleifend dui. Cras egestas arcu eget feugiat condimentum. Suspendisse potenti. Suspendisse faucibus, orci quis porta bibendum, felis nulla luctus quam, eu molestie quam nulla eu nulla. Etiam eros quam, iaculis non sagittis at, sodales a elit. Donec tristique sollicitudin libero, quis feugiat diam fermentum quis. Nulla facilisi. Vivamus vitae dolor vel massa elementum tempus. Donec non sollicitudin tellus. Cras ex lectus, mollis at imperdiet quis, ornare quis justo. Phasellus fermentum fringilla condimentum. Sed in ornare nibh. In ligula turpis, sollicitudin tristique sem vitae, sagittis luctus ipsum. Cras sed laoreet mi. Pellentesque nec orci a nisi euismod eleifend. Nullam posuere tempor diam eget aliquam.</p>
</section>


<h1 id="skills">Compétences</h1>
<skills></skills>

<h1 id="projects">Projets</h1>
<carousel></carousel>

<h1 id="contact">Contact</h1>
<contact></contact>

<footer>
  <section class="reseau">
    <div class="icon">
      <a href="https://www.linkedin.com/in/mathieu-bihan-570516185/"><img src="assets/img/linkedin-logo.png" alt="logo linkedin"></a>
      <p>Mon linkedin</p>
    </div>
    <div class="icon">
      <a href="https://github.com/BihanMathieu?tab=repositories"><img src="assets/img/signe-github.png" alt="logo github"></a>
      <p>Mon github</p>
    </div>
  </section>
  <p class="copyright">© Copyright 2022 - Bihan Mathieu. Tous droits réservés.</p>
</footer>
